<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Design by foolishdeveloper.com -->
    <title>AWS Virtual Classroom</title>
 
    <link  rel="stylesheet" href="login.css" >
  
    
</head>
<body>
    
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or username" id="username" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" required>

        <button type="submit" class="btn btn-primary">Login</button>
       
         
       
    </form>
</body>
</html>
