<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS Virtual Classroom</title>

    <link href="/static/login.css" rel="stylesheet">
</head>
<body>

    <!-- Background shapes -->
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <!-- User Login Form -->
    <form method="POST" action="{{ url_for('login') }}">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Email or username" id="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password" required>

        <button type="submit" class="btn btn-primary">Login</button>

        <!-- Admin Button to link to admin login page -->
        <button type="button" class="btn btn-admin" onclick="redirectToadminlogin()">Admin</button>
    </form>

    <script>
        // JavaScript function to redirect to the admin login page
        function redirectToadminlogin() {
            window.location.href = "/adminlogin"; // Set this URL to match your admin login page route
        }
    </script>

</body>
</html>
